.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vertical-flex-container{
    display: flex;
    flex-direction: column;
}

.margin-10{
    margin: 10px;
}

.width-fit-content{
    width: fit-content;
}

.bg-yellow{
    background-color: rgb(255, 255, 51);
}

.bg-main{
    background-color: aqua;
}

h2{
    color: aqua;
}